$main-bg: #f2f2f2;
$main-color: #147aff;
$white: #fff;

$bg-navbar: #f2f2f2;
$bg-chart: #f7f7f7;
$txt-main-color: #32323d;
$txt-second-color: #27272f;
$txt-third-color: #666666;
$hover: #e6e6e6;

$box-shadow: rgb(149 157 165 / 20%) 0 5px 2px 1px;

$rank_1: #4a90e2;
$rank_3: #e35050;

$mobile-width: 740px;
$tablet-width: 1113px;

$padding-top: 5rem;
$padding-left: 2rem;
$width: 22rem;

