.suggest{
    margin-top: 7rem;
    &__heading{
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 3rem;
        padding-top: 1rem;
        span{
            font-weight: 400;
        }
    }
    &__list{
        padding: 0 0.5rem;
        &__item{
            cursor: pointer;
            &__img{
                border-radius: 1rem;
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                    transition: 0.3s linear;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            h3{
                font-size: 1.4rem;
                color: $txt-main-color;
                padding: 0.5rem 0;
            }
            p{
                font-size: 1.4rem;
                color: $txt-third-color;
                padding-bottom: 2rem;
            }
        }
        @include tablet{
            @include grid(10rem);
        }
    }
    @include tablet{
        margin-top: 1rem;
    }
    
}